<h1> HXL Exporter </h1>
<br/>

<ul id="menu">
  <li><%= link_to "Excel", excel_imports_path %></li>
  <!--<li><#%= link_to "Web Service", web_service_imports_path %></li>-->
</ul>
<iframe src="/imports/excel" id="home_frame">

</iframe>